/*____________________________________________________________________________________*/
/* Base */

:root {
  font-size: 62.5%;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden,
.unactive {
  visibility: hidden;
  display: none;
}

.shown,
.active {
  visibility: visible;
  display: inherit;
}

@media (max-width:719px) {
  #aboutPage,
  #portfolioPage,
  #resumePage,
  #contactPage {
    margin-top: 5rem;
    padding-bottom: 10rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}

::-moz-scrollbar {
  width: 10px;
  border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #520000;
  border-radius: 25px;
}

::-moz-scrollbar-thumb {
  background: #520000;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-scrollbar-thumb:hover {
  background: #555;
}
.blankspace {
  height: 5rem;
}

/*____________________________________________________________________________________*/
/* Navigation */

nav#mobileNavBar {
  width: 100%;
  height: auto;
  padding: 15px;
  color: #F0EAD6;
  background-color: #1C1C16;
}

nav#mobileNavBar a {
  color: #F0EAD6;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 1.8rem;
  font-weight: 400;
}
.navbarTogglerIcon {
  fill: #F0EAD6;
  width: 3rem;
  height: 3em;
}
.navbar-toggler:focus {
  box-shadow: none;
}

nav#mobileNavBar .dropdown-menu {
  background-color: #1C1C16;
}

nav#mobileNavBar .dropdown-item {
  color: #35464D;
}

@media (max-width: 719px) {
  nav#mobileNavBar .dropdown-menu {
    background-color: #1C1C16;
  }
  nav#mobileNavBar {
    background-color: #1C1C16;
  }
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 5px;
}

/*____________________________________________________________________________________*/
/* Header */

header {
  background-color: #1C1C16;
  height: 5vh;
  width: 100%;
}

/*____________________________________________________________________________________*/
/* Main Body */

main {
  background-color: #F0EAD6;
  height: 90vh;
  width: 100vw;
  padding: 5vh;
}

@media (max-width:719px) {
  main {
    padding: 1vh 2.5vh;
  }
}

/* Home Page */

#homePage h1 {
  font-size: 4.6rem;
  color: #1C1C16;
}
#homePage  .navbar-nav {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
#homePage .nav-item {
  background-color: transparent;
  color: #1C1C16;
  font-family: "Kumbh Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  padding: 1rem;
}
.nav-link:hover {
  color: #292927;
}

.nav-link:hover ~ .underButtonWrapper {
  height: 100%;
}

.underButtonWrapper{
  height: 0;
  transition: all linear .5s
}

.underButton {
  width: 100%;
  height: 100%;
  max-height: 6px;
  background-color: #1C1C16;
  overflow: hidden;
  position: relative;
}

@media (max-width:719px) {
  
  /* Home Page */

  #homePage h1 {
    font-size: 3.4rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  #homePage .nav-item {
    font-size: 2.4rem;
    text-align: center;
  }
  #homePage  .navbar-nav {
    flex-direction: column;
  }
  .underButtonWrapper{
    visibility: hidden;
    display: none;
  }
}

#aboutPage {
  overflow-y: scroll;
}

/* Resume Page */
#resumePage {
  overflow-y: scroll;
}

.resume {
  font-family: 'Merriweather', serif;
  color: #000000;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.resume.title {
  font-family: 'Kumar One', serif;
  color: #1C1C16;
  font-size: 4.5rem;
  font-weight: 400;
}
.resume.subTitle {
  font-family: 'Kumar One', serif;
  color: #1C1C16;
  font-size: 2.5rem;
  font-weight: 400;
}
.resume.positionName { 
  font-size: 2.4rem;
  font-weight: 700;
}
.resume.employmentType,
.resume.companyName,
.resume.schoolName,
.resume.dot {
  font-size: 2rem;
  font-weight: 700;
  display: inline;
}
.resume.startDateEndDate,
.resume.cityStateCountry,
.resume.durationOfEmployment,
.resume.lightDot {
  color: #808080;
  font-size: 1.8rem;
  font-weight: 500;
} 
.resume.description,
.resume.list-group-item{
  font-size: 1.6rem;
  font-weight: 500;
}
.resume.skills{
  font-size: 1.6rem;
  font-weight: 600;
}
.resume.random {
  font-size: 1.75rem;
  padding: 0 15px;
  margin: 10px;
  width: auto;
  height: auto;
}
span.resume {
  display: inline-block;
}

#resumeSkills p {
  display: inline-block;
  padding: 3px;
  margin-left: 0;
  margin-right: 0;
  border: 2px solid #1C1C16;
}

.list-group * {
  border: 0;
  background-color: transparent;
}
.list-group-doted {
  padding: 15px;
  margin: 10px;
}
.list-group-doted li {
  list-style-type: circle;
  list-style-position: inside;
  display: list-item;
}

/* Portfolio Page*/

#portfolioPage {
  overflow-y: scroll;
}

.tileDiv {
  padding: 0 1rem;
  display: inline-block;
  align-items: stretch;
  margin: 1%;
  border: 2px solid #1C1C16;
  max-width: 25%;
  max-height: 40%;
  width: 100%;
  height: 100%;
}
.tileImg {
  width: 100%;
  height: auto;
  padding: 1rem 0;
}
.tileTitle {
  font-size: 2.25rem;
  margin-left: 0;
  margin-right: 0;
}
.tileDescription {
  font-size: 1.6rem;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width:719px) {
  .tileDiv {
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/*____________________________________________________________________________________*/
/* Footer */

footer {
  background-color: #1C1C16;
  height: 5vh;
  width: 100%;
}

/*____________________________________________________________________________________*/
/* Global Text */

svg{
  display: inline-block;
  width: 50px;
} 

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, .p, 
h1, h2, h3, h4, h5, h6, p {
  color: #000000;
  padding: 15px;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kumar One', serif;
}

.h1, h1 {
  font-size: 7.2rem;
}

.h2, h2 {
  font-size: 6.0rem;
}

.h3, h3 {
  font-size: 4.8rem;
}

.h4, h4 {
  font-size: 3.6rem;
}

.h5, h5 {
  font-size: 2.4rem;
}

.h6, h6 {
  font-size: 2rem;
}

.p, p, li, .li {
  font-size: 1.6rem;
  font-family: 'Merriweather', serif;
}